body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}
#PlanoDeFundo{
    background-color:aquamarine;
    padding: 5px;
    border-radius:5px;
}
#AreaDeCadastro{
    margin-left: 30px;
}
#buttom{
    margin-top:20px;
    margin-left: 80%;
    text-align: center;
    cursor: pointer;
    height: 30px;
}
input{
    border:0;
    background-color: transparent;
    border-bottom: 1px solid black;
    outline: none;
    width: 90%;
}
.cor{
    color: red;
}
