#TabeladePessoas{
    /*background-color:aquamarine;*/
    min-width: 200px;
    max-width: 900px;
    border-radius: 10px;
    
}
#buttom{
    margin-left: 90%;
} 
#p1{
    margin-top: -33px;
    margin-left: 100px;
}
#p2{
    margin-top: -33px;
    margin-left: 200px;
}
#p3{
    margin-top: -33px;
    margin-left: 300px;
}
#p4{
    margin-top: -33px;
    margin-left: 400px;
}
table,th,td{
    border-collapse:collapse;
    border: 1px solid black;
    text-align: center;
}
